

ul{
    margin-left: 20px;
}
.h{
    margin-left: 800px;
}
img{
    width: 400px;
    margin-top: 40px;
}
h1{
    font-size: 80px;
    font-weight: 400;


}
p{
    color: gray;
}
h6{
    color: gray;
}
.x{
    margin-left: 200px;
}